@charset "UTF-8";

* {
	padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body {
	text-align: center;
}
h1 {
	color: #4371c6;
	margin: 40px;
}
div {
	margin: 0 auto;
	width: 1200px;
}
table {
	margin: 20px 0px;
	width: 1200px;
}
th {
	background-color: #4371c6;
	color: #fff;
}
table, th, td {
	border: 1px solid #ccc;
	border-collapse: collapse;
}
th, td {
	padding: 10px;
}
a {
	text-decoration: none;
	font-weight: bold;
	color: #4371c6;
}