 @charset "UTF-8";

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

header {
	margin: 50px 0px 25px 0px;
}

body {
	text-align: center;	
}

a {
	font-weight: bold;
	text-decoration: none;
	color: #0078C8;
}

h1 {
	color: #0078C8;
}

table {
	min-width: 860px;
	margin: 25px auto;
}

table, th, td {
	border: 1px solid #CCCCCC;
	border-collapse: collapse;
}

th, td {
	padding: 15px;
	min-width: 120px;
}

th {
	background-color: #0078C8;
	color: white;
}

.subject {
	min-width: 500px;
}

#content {
	text-align:left;
	vertical-align:top;
	height: 300px;
	padding: 30px;
}

input {
	width: 670px;
	height: 20px;
}

button, .button {
	width: 120px;
	height: 40px;
}

textarea {
	width: 670px;
	height: 300px;
}

#c_writer {
	width: 120px;
	height: 30px;
	margin-right: 10px;
}

#c_content {
	width: 425px;
	height: 30px;
	margin-right: 10px;
}

#c_btn{
	width: 120px;
	height: 30px;
}

form {
	width: 860px;
	margin: 0px auto;
}
#wu_btn {
	margin: 0px 10px 50px 305px;
    float: left;	
}

#wu_btn_2 {
	float: left;
}

footer {
	clear:both;
	margin: 50px 0px 150px;
}